.RegisterPage {
    display: flex;
    border-width:1px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    /* position: relative; */
  }
  
  .loginImg{
    width: 511px;
    height: 521px;
    /* position: absolute; */
    border-radius: 10px;
    left: 0;
    margin: 10px;
  }